@import "https://unpkg.com/open-props";

header{
    margin: 25px;
    padding: 10px;
}

body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px solid white;

}

form{
    position:relative;
    background-color: white;
    margin: 50px auto;
    width: 80%;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    border-radius: 10px;
}
.form-control{
    text-align: left;
    margin-bottom: 25px;
}
.form-control label{
    display:block;
}
.form-control textarea{
    width: 90%;
    height:auto;
    text-wrap: auto;
    height:fit-content;
    line-height: 2;
    border-radius: 5px;
    text-align:left;
}
.form-control input[type="radio"], 
    .form-control input[type="checkbox"] {
        display: inline-block;
        width:auto;
    }
#proffessional-level{
    width:93.7%;
    margin-top: 5px;
    padding: 10px;
}

label{
    margin: 5px;
}

input{
    padding: 10px;
    margin: 10px;
    margin-left: 4px;
    width: 90%;
}
input::placeholder {
    opacity: 1;
}
input:focus::placeholder{
    opacity: 0;
}

.button-container {
    text-align: center;
    box-sizing: border-box;
  }

  #submit-button {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-5);
  font-size: var(--font-size-4);
  color: var(--gray-8);
  background: var(--gray-0);
  border: 0;
  padding: var(--size-4) var(--size-8);
  transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale));
  transition: transform 0.1s;
  position: relative;
}

#submit-button:hover {
  --y: -10;
  --scale: 1.1;
  --border-scale: 1;
}

#submit-button:active {
  --y: 5%;
  --scale: 0.9;
  --border-scale: 0.9, 0.8;
}

#submit-button::before {
  content: "";
  position: absolute;
  inset: calc(var(--size-3) * -1);
  border: var(--size-2) solid var(--gray-0);
  transform: scale(var(--border-scale, 0));
  transition: transform 0.125s;

  --angle-one: 105deg;
  --angle-two: 290deg;
  --spread-one: 30deg;
  --spread-two: 40deg;
  --start-one: calc(var(--angle-one) - (var(--spread-one) * 0.5));
  --start-two: calc(var(--angle-two) - (var(--spread-two) * 0.5));
  --end-one: calc(var(--angle-one) + (var(--spread-one) * 0.5));
  --end-two: calc(var(--angle-two) + (var(--spread-two) * 0.5));

  mask: conic-gradient(
    transparent 0 var(--start-one),
    white var(--start-one) var(--end-one),
    transparent var(--end-one) var(--start-two),
    white var(--start-two) var(--end-two),
    transparent var(--end-two)
  );

  z-index: -1;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-bottom: 30px;
}