* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    background: #ddd;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}
a:hover{
    color: orange;
    transition-delay: .3;
}

/* HEADER */
header{
    position: relative;
    z-index: 1;
    justify-content: flex-start;
}

nav{    
    width: 100%;
    height: 60px;
    margin: 0 auto;
    position: absolute; 
    top: 0; 
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgba(255, 255, 255, 0.2);
}

nav .logo a{ 
    font-size: 1.5rem;
    font-weight: bold;
}

nav .logo a:hover{
    color: rgb(245, 64, 64);
    transition-delay: .3;
}

/* CHANGE COLOUR ON BACKGROUND AND TEXT ON FOCUS*/
nav a{
    color: white;
}

nav .links:hover{
    color: white;
}

nav .links{
    text-decoration: none;
    color: white;
    padding: 6px 15px;
    border-radius: 20px;
    display: flex;
    gap: 2rem;
}

nav .links::marker{
    text-decoration: underline;
}

nav .toggle-btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

nav:first-child{
    margin-right: auto;
}

.action-btn{
    background-color: rgb(245, 64, 64);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action-btn:hover{
    scale: 1.05;
    color: #fff;
}

.action-btn:active{
    scale: 0.95;
}

/* PARALLAX EFFECT */
.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    z-index: -1;
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    max-height: 130vh;

}

/* HERO */
section#hero{
    height: calc(115vh);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    color: white;
    padding-left: 4rem;
    position: absolute;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#hero h1{
    font-size: 4.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-align: left;
}

#hero p{
    font-size: 1.7rem;
    margin-bottom: 0.7rem;
    text-align: left;
}

/* BOOK А TRAIN BOX 
.book-train-box{
    position: relative;
    border: 0.5px solid #686464;
    margin: 0 auto;
    background: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding:30px;
    margin-top: 450px;
    border-radius: 25px;
    height: 16vh;
    width: 60vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.book-train-box p{
    padding-bottom: 1rem;
    font-weight: 600;
    font-size: 1.3rem;
}

.book-train-box input{
    height: 35px;
    background-color: rgb(236,243,242);
    font-size:medium;
    padding: 15px;
    padding-top: 23px;
    padding-bottom: 23px;
    border-radius: 8px;
    width: 60%;
}

#passengers-count{
    height: 35px;
    padding: 15px;
    padding-top: 23px;
    padding-bottom: 23px;
    border-radius: 8px;
    width: 60%;
}

#search-train{
    height: 50px;
    margin-top: 38px;
    border-radius: 8px;
    width: 70%;
    font-size:medium;

}*/
form{
    position: relative;
    background-color: #ddd;
    border: solid black 2px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    width: 60vh;
}

.book-ticket{
    row-gap: 1em;
}

/*  CONTENT */  
.sec {
    position: relative;
    background: green;
    padding: 100px;
    margin-top: 1000px;;
}

.sec h2{
    font-size: 3em;
    color: white;
    margin-bottom: 10px;
}

.sec p{
    font-size: 1em;
    color: white;
    font-weight: 300;
}

/* DROPDOWN MENU */
.dropdown-menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px; 
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1001;
}

.dropdown-menu.open{
    height: 240px;
    display: block;
}


.dropdown-menu li{
    padding: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .action-btn{
    width: 60%;
    display: flex;
    justify-content: center;
}

/* RESPONSIVE DESIGN*/ 
@media(max-width: 922px){
    nav .links,
    nav .action-btn{
        display: none;
    }

    nav .toggle-btn{
        display: block;
    }

    .dropdown-menu{
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown-menu {
        left: 2rem;
        width: auto;
    }
}