*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(/Pictures/night-sofia2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    
    width: 100%;
    
    color: rgb(255,255,255);
}

/* .navbar{
    display: flex;
    justify-content: space-between;
    align-content: space-between;

    padding: 1rem 2rem;
}

.navbar__links{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    color: rgb(255,255,255);
} */

nav{    
    width: 100%;
    padding: 1em 2em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.2);
}

nav .logo a{ 
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/* CHANGE COLOUR ON BACKGROUND AND TEXT ON FOCUS*/
nav a{
    color: white;
    text-decoration: none;
}

nav li{
    text-decoration: none;
}

nav .current-page{
    text-decoration: underline;
}

nav .links{
    color: white;
    border-radius: 20px;
    display: flex;
    gap: 2em;
}

nav .toggle-btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-btn{
    background-color: rgb(245, 64, 64);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.action-btn:hover{
    scale: 1.05;
}

.action-btn:active{
    scale: 0.95;
}

h1, .date-and-time{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 3rem;
    font-weight: 800;
    padding: 5rem 5rem 0;

    text-align: center;
}

.date-and-time h2{
    font-size: 1.6rem;
    padding-top: 2rem;
    padding-left: 2rem;
}



.train-schedule{
    margin: 30px auto;
    padding: 70px 50px;
    
}

main{
    width: 100%;
    
    display: flex;
    justify-content: center;
}

/* Depart from info */
.depart-from{
    display: flex;
    flex-direction: column;

    margin-bottom: 40px;
}

.depart-from h3{
    color: rgb(100,115,134);
    font-weight: 800;
    font-size: 1.5rem;
}

.depart-from h2{
    font-size: 2rem;
    padding: 10px 0;
}

.depart-from h4{
    font-size: 1.2rem;
    font-weight: 400;
}

.weather {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 2rem 0;
    font-size: 2rem;
}

/* Train route box */
.train-schedule_route-box{
    margin: 10px 0;
    padding: 10px 12px;
    width: 600px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    background-color: rgb(255,255,255);
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    transition: all 1s;
}

.train-schedule_route-box:hover{
    scale: 1.03;
}

.time-and-delay{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.train-delay{
    margin-left: 8px;
    color: green;
}

.final-destination{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
}

.final-destination span{
    font-size: 1rem;
    font-weight: 300;
}

.route-duration-details{
    display: flex;
    flex-direction: row;

    margin: 10px 0px 20px;
}

.duration,
    .route-stops,
        .route-company,
            .journey-details{
        font-weight: 500;
}

/* Train route details */
.route-details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-end;
}

main{
    background-color: sienna;
}