
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

li{
    list-style: none;
}

:root {
    --step--2: clamp(0.7813rem, 0.357rem + 2.1213vw, 2.88rem);
    --step--1: clamp(0.9375rem, 0.3993rem + 2.6911vw, 3.6rem);
    --step-0: clamp(1.125rem, 0.4428rem + 3.4112vw, 4.5rem);
    --step-1: clamp(1.35rem, 0.4858rem + 4.3209vw, 5.625rem);
    --step-2: clamp(1.62rem, 0.5261rem + 5.4694vw, 7.0313rem);
    --step-3: clamp(1.9438rem, 0.5599rem + 6.9191vw, 8.7894rem);
    --step-4: clamp(2.3325rem, 0.5832rem + 8.7467vw, 10.9863rem);
    --step-5: clamp(2.7994rem, 0.5891rem + 11.0512vw, 13.7331rem);
}

body{
    min-height: 100vh;
    background: rgb(248,249,245);
    overflow-x: hidden;
}

a {    
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

a:hover{
    color: orange;
    transition-delay: .3;
}

/* HEADER */
.header{ 
  background-image: url("/Pictures/1667948.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  padding-block-end: 6em;
}

nav{    
    width: 100%;
    padding: 1em 2em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.2);
}

nav .logo a{ 
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/* CHANGE COLOUR ON BACKGROUND AND TEXT ON FOCUS*/
nav a{
    color: white;
}

nav .current-page{
    text-decoration: underline;
}

nav .links{
    color: white;
    border-radius: 20px;
    display: flex;
    gap: 2em;
}

nav .links:hover{
    color: white;

}

nav .toggle-btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-btn{
    background-color: rgb(245, 64, 64);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action-btn:hover{
    scale: 1.05;
}

.action-btn:active{
    scale: 0.95;
}

/* HERO */
.hero {
    margin: 20em auto 20em;
    color: white;
    padding: 1em 4em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.hero h1{
    font-size: var(--step-1);
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.hero p {
    font-size: clamp(1.125rem, 1.0113rem + 0.5685vw, 1.6875rem);
    margin-bottom: 0.7eem;
    text-align: left;
}

/* BOOK TICKET FORM */
.form-booking {
    --_form-width: min(100%, 75%);
    box-sizing: border-box;
    margin: 0 auto; /*-9.5em;*/
    background-color: rgb(253,253,253);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    gap: 1em;
    width: var(--_form-width);
    padding: 1.25em;
    border-radius: 20px;
    transform:translateY(9.9em)
}

.book-ticket {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: min(100%, 10vh);
    box-sizing: border-box;
    flex-grow: 1;
}


.book-ticket > label{
    font-size: clamp(1.2rem, 1.0394rem + 0.3032vw, 1.5rem);
    font-weight: bold;
    color: #4E535A;
}

.book-ticket > input{
    width: 100%;
    padding: 1em 0.5em;
    border-radius: 10px;
    border: none;
    background-color: rgb(243,250,248);
    color: #7A7E82;
    font: inherit;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;

}

.book-ticket:has(select) {
  gap: 1em;
}

 .passengers-count,
 .coach__options{
    padding: 1em 0.5em;

    border: none;
    border-radius: 10px;
    background-color: rgb(243,250,248);

    font: inherit;
}

.btn-submit {
    background-color: rgb(23,143,114);
    border-radius: 10px;
    padding: 1em 1.5em;
    border: none;
    color: #E6EAEB;
    font: inherit;
}

.btn-submit a{
    color: #E6EAEB; 
}

/* DROPDOWN MENU */
.dropdown-menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px; 
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1001;
}

.dropdown-menu.open{
    height: auto; 
    display: block;
}

.dropdown-menu li{
    padding: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .action-btn {
    width: 60%;
    display: flex;
    justify-content: center;
}

/* Indent top stories */
.indent-top-stories{
    height: 100px;

    background-color: rgb(246,248,250);
}

/* Top Stories */
.top-stories{
    padding: 80px 0;
    margin: 60px 0px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;

    background-color: #fff;
}

.top-stories h2{
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;

    border-bottom: 8px solid red;
}

.top-stories h4{
    font-weight: 400;
    margin-bottom: 40px;
}

.top-stories_stories {
    display: grid;
    grid-auto-flow: row;    
    justify-content: center;
    justify-items: center;
    align-content: center;
    grid-template: 
    "top-news top-news top-news";
    grid-gap: 1rem;

    margin: 2px auto;
}

.top-stories_stories-story{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    cursor: pointer;
 
    max-width: 350px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transition: all 1s;
}

.top-stories_stories-story img{
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0 0;

    object-fit: cover;
}

.top-stories_stories-story button{
    width: 30px;
    height: 30px;
    padding: 20px;
    border: none;
    border-radius: 50%;
    background-color: rgb(252,194,72);
    transform: translateY(-20px);

    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
}

.top-stories_stories-story:hover{
    scale: 1.03;/* add smooth scale */
}

.top-stories_stories-story_text{
    padding: 2.5rem;

    text-align: center;
}

.top-stories_stories-story_text h3{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* More information */
.more-information{
    padding: 60px 0;
    margin: 60px 0px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;

    background-color: rgb(246,248,250);
}

/* RESPONSIVE DESIGN*/ 
@media(max-width: 922px){
    nav .links,
    nav .action-btn{
        display: none;
    }

    nav .toggle-btn{
        display: block;
    }

    .dropdown-menu{
        display: block;
    }

    .top-stories_stories{
        grid-template:
        "top-news top-news";
    }
}

@media (max-width: 576px) {
    .dropdown-menu {
        left: 2rem;
    }

    .top-stories_stories{
        grid-template:
        "top-news";
    }
}